<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.freefalltech.blackout">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/blackout_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/blackout_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OpenerActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service android:name=".NetworkListenerService" />
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>


</manifest>